<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clipboardactivity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.clipboardactivity.ClipboardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.clipboardactivity.ClipdataIntentActivity"
            android:label="@string/title_activity_clipdataintent" >
        </activity>
        <activity
            android:name="com.example.clipboardactivity.HtmlIntentActivity"
            android:label="@string/title_activity_htmlintent" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                This activity will get launched when proper intent type will match
                in this case "text/html"
                -->
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
    </application>

</manifest>